<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница регистрации студентов</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Студенты</h1>
<div>
    <a href="/student/edit"><button>Создать запись о студенте</button></a>
</div>
<div>
    <a href="/group/"><button>Интерфейс редактирования групп</button></a>
</div>

<div style="width: 500px; margin: auto" th:if="${students.size() > 0}">
    <div class="student" >
        <table>
            <tr>
                <th>Номер зачетки</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Группа</th>
                <th>Подробная информация</th>
            </tr>
            <tr th:each="record : ${students}">
                <td th:text="${record.getRecordId()}"></td>
                <td th:text="${record.getLastName()}"></td>
                <td th:text="${record.getName()}"></td>
                <td th:text="${record.getGroupId()}"></td>
                <td><a th:href="@{/student/view/{id}(id=${record.getRecordId()})}">Полная информация</a></td>
            </tr>
        </table>
    </div>
</div>
<div style="width: 500px; margin: auto" th:unless="${students.size() > 0}">
    В базе нет зарегестрированных студентов
</div>

<div>
    <a href="../logout"><button>Logout</button></a>
</div>

</body>
</html>
