<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр данных студента</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<div>
    <a href="/student/">
        <button>Вернуться к списку студентов</button>
    </a>
</div>
<div>
    <a th:href="@{/student/edit/{id}(id=${student.getRecordId()})}">
        <button>Изменить данные</button>
    </a>
</div>
<div class="studentView">
    <div>
        Номер зачетки: <span th:text="${student.getRecordId()}"/>
    </div>

    <div>
        Фамилия: <span th:text="${student.getLastName()}"/>
    </div>

    <div>
        Имя: <span th:text="${student.getName()}"/>
    </div>

    <div>
        Отчество: <span th:text="${student.getSecondName()}"/>
    </div>

    <div>
        Дата рождения: <span th:text="${#temporals.format(student.getBirthdayDate(), 'dd-MM-yyyy')}"/>
    </div>

    <div>
        Дата поступления: <span th:text="${#temporals.format(student.getEntryDate(), 'dd-MM-yyyy')}"/>
    </div>

    <div>
        Номер группы: <span th:text="${student.getGroupId()}"/>
    </div>

    <div>
        Номер телефона: <span th:text="${student.getPhone()}"/>
    </div>


</div>
</body>
</html>
