<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр информации о группе</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<div>
    <a href="/group/">
        <button>Вернуться к списку групп</button>
    </a>
</div>
<div>
    <a th:href="@{/group/edit/{id}(id=${group.getGroupId()})}">
        <button>Изменить данные</button>
    </a>
</div>
<div class="groupView">
    <div>
        Номер группы: <span th:text="${group.getGroupId()}"/>
    </div>

    <div>
        Название группы: <span th:text="${group.getName()}"/>
    </div>

    <div>
        Описание: <span th:text="${group.getDescription()}"/>
    </div>

    <div class="groupList" th:if="${!group.getStudentList().isEmpty()}">
        <div>Список студентов группы:</div>
        <table>
            <tr>
                <th>Номер зачетки</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Группа</th>
                <th>Подробная информация</th>
            </tr>
            <tr th:each="student : ${group.getStudentList()}">
            <td th:text="${student.getRecordId()}"></td>
            <td th:text="${student.getLastName()}"></td>
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getGroupId()}"></td>
            <td><a th:href="@{/student/view/{id}(id=${student.getRecordId()})}">Полная информация</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
