<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ведомость</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<div class="studentView">

    <h3>Список студентов</h3>

    <div style="width: 500px; margin: auto" th:if="${students.size() > 0}">
        <div class="student">
            <table>
                <tr>
                    <th>Номер зачетки</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Группа</th>
                    <th>Подробная информация</th>
                </tr>
                <tr th:each="record : ${students}">
                    <td th:text="${record.getRecordId()}"></td>
                    <td th:text="${record.getLastName()}"></td>
                    <td th:text="${record.getName()}"></td>
                    <td th:text="${record.getGroupId()}"></td>
                    <td><a th:href="@{/report/view/{id}(id=${record.getRecordId()})}">Полная информация</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div style="width: 500px; margin: auto" th:unless="${students.size() > 0}">
        В базе нет зарегестрированных студентов
    </div>

    <div>
        <a href="../logout">
            <button class="button">Logout</button>
        </a>
    </div>

</div>


<style>

    body {
        font-size: 18px;
    }

    .studentView {
        width: 700px;
        margin: auto;
        text-align: center;
        border: solid 2px #5f75a0;
        background-color: lightgray
    }

    .button {
        margin-bottom: 10px;
        background-color: lightseagreen;
        font-size: medium
    }

</style>

</body>
</html>
